<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	">
    <bean class="io.github.sruby.springboot.demo.service.ISpringServbice" >
        <property name="key">
            <value>${postprocessor.key}</value>
        </property>
    </bean>
</beans>